.archive {
  width: 100;

  div.items {
    div:first-child {
      border-top: 1px solid #d6d6d6;
    }

    p.item {
      padding-top: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid #d6d6d6;
      padding-left: 10px;

      a {
        text-decoration: none;
        font-weight: bold;
      }
    }
  
  }

  h3 {
    padding-left: 10px;
  }
}
