@import '../colors';

.tag {
  background-color: $secondary-color-light-3;
  display: inline-block;
  padding: 12px 10px;
  border-radius: 3px;

  user-select: none;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 1px;
  color: $secondary-color-1;
}

.interactive {
  background-color: $secondary-color-light;
  color: $secondary-color-2;
  transition: background-color ease-in .3s, color ease-in .3s;

  &:hover {
    cursor: pointer;
  }

  &:hover, &:focus {
    background-color: $main-color-light;
    color: $main-color-dark;
  }

  &.active, &:active {
    background-color: $main-color;
    color: $light-color;
  }
}
