$main-color: #003eff;
$main-color-light: #ccd9ff;
$main-color-dark: #747b8f;
$secondary-color: #8e8e8f;
$secondary-color-1: #8a898a;
$secondary-color-2: #868687;
$secondary-color-light: #efefef;
$secondary-color-light-1: #eaeaea;
$secondary-color-light-2: #d2d2d3;
$secondary-color-light-3: #f7f6f6;
$light-color: #fff;
$dark-color: #1e1d20;

