@import "../../../../components/UI/colors";

.wrapper {
  width: 100%;
  margin-bottom: 40px;
}

.image {
  max-width: 100%;
  display: block;
  margin: auto;
}

.tags {
  margin-top: 14px;
  & > *:not(:last-child) {
    margin-right: 10px;
  }
}

.title {
  color: $main-color;
  margin: 14px 0;
}

.deleteButton {
  padding: 5px 8px !important;
  background-color: grey;
}
