.sections-editable-text {
  &_container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    line-height: 1.4;
  }

  &_non-editable {
    user-select: none;
    font-family: Montserrat, sans-serif;

    &_link {
      font-family: Montserrat, sans-serif;
      text-decoration: none;
      color: #1e1d20; /* constants.color.text.dark */
      &:hover {
        color: #003eff; /* constants.color.main */
        transition: all 0.3s;
      }
    }
  }

  &__button_img {
    flex-shrink: 0;
    flex-basis: 16px;
    width: 16px;
    height: 16px;
    margin: auto 8px;
    cursor: pointer;
  }

  &__input_field {
    width: 100%;
    height: auto;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;

  }
}