.modal {
  padding: 20px 15px;
  background-color: #fff;
  border-radius: 3px;
  position: absolute;
  overflow: hidden;
}

.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(0,0,0,.3);

  display: flex;
  justify-content: center;
  align-content: center;
  overflow: auto;
  padding: 30px 15px;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px;

  outline: none;
  background: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
  color: #d2d2d3;

  &:hover {
    color: darken(#d2d2d3, 30%);
  }
}
