@import '../colors';

.button {
  border-radius: 28px;
  background-color: $main-color;
  padding: 10px 34px;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  outline: none;
  cursor: pointer;
  border: none;
  color: #fff;

  &:hover, &:focus {
    background-color: $main-color-light;
    color: $main-color-dark;
  }
}

.button[disaibled] {
  cursor: not-allowed;
}

.secondary {
  background-color: $secondary-color;
  &:hover, &:focus {
    background-color: $secondary-color-light-1;
    color: $main-color-dark;
  }
}
