.socials {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;

    .title {
        text-align: center;
    }

    img {
        width: 3rem;
        height: 3rem;
        padding: 1rem;
    }
}