.sections-header {
  @media screen and (min-width: 810px) {
    padding: 0 20px;
  }
  height: 72px;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.17;
  letter-spacing: normal;
  color: rgb(30, 29, 32);
  display: flex;
  padding: 0;

}

.sections-header-el {
  &__logo {
    @media screen and (min-width: 810px) {
      padding: 0;
    }
    padding-left: 24px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    flex-direction: column;
    font-size: 22px;
    font-weight: 600;
    color: rgb(30, 29, 32);
    text-decoration: none;

    &_els {
      @media screen and (min-width: 810px) {
        width: 267px;
        height: 48px;
        margin-left: 0;
      }
      cursor: pointer;
      display: flex;
      align-items: center;
    }

  }

  &__empty {
    position: absolute;
    right: 24px;
    top: 24px;
    cursor: pointer;
  }

  &__menu {
    @media screen and (min-width: 810px) {
      display: flex;
    }
    display: none;
    align-self: center;
    width: 100%;
    -webkit-box-pack: end;
    justify-content: flex-end;
  }

  &__menu-text {
    @media screen and (min-width: 810px) {
      display: inline-block;
      font-size: 14px;
      margin-right: 20px;
    }


    display: block;
    height: 20px;
    padding-top: 12px;
    margin-bottom: 10px;
    color: rgb(0, 62, 255);
    text-transform: uppercase;
    align-self: flex-end;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    font-size: 12px;
    margin-right: 10px;
    cursor: pointer;
    text-decoration: none;
  }

  &__menu-phone {
    @media screen and (min-width: 810px) {
      margin-top: 0;
    }
    display: grid;
    grid-template-columns: 24px auto;
    margin-top: 58px;
    grid-column-gap: 8px;
    align-items: center;
    &_number{
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      font-size: 16px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: right;
      color: rgb(30, 29, 32);
      text-decoration: none;
    }
  }
}