@import '../../UI/colors';

.title {
  margin-bottom: 15px;

  &:after {
    content: '';
    width: 100%;
    display: block;
    margin-top: 8px;
    border-bottom: 1px solid $secondary-color-light-1;
  }
}

.tags {
  & > * {
    margin-right: 10px;
    margin-bottom: 10px;
  }
}
