.wrapper {
  margin: 20px 0 10px 0;
  display: flex;
  align-items: center;
}

.img {
  height: 30px;
  width: 33px;
  margin-right: 8px;
  display: inline-block;
}

.count {
  display: inline-block;
  margin-left: 8px;
  font-size: 18px;
}
