.breadcrumb {
    color: blue;
    display: flex;
    flex-direction: row;
    font-family: Montserrat, sans-serif;
    &__item {
        text-justify: center;
        text-transform: uppercase;
        color: rgb(0, 62, 255);
        font-size: 10px;
        font-weight: bold;
        display: inline-block;
        text-decoration: none;
    }
    &__text {
        cursor: pointer;
    }
    &__arrow {
        margin: 0 8px auto;
        font-size: 10px;
    }
    &__nonclickable-text {
        text-transform: uppercase;
        color: rgb(194, 194, 194);
        font-size: 10px;
        font-weight: bold;
    }
}