.inputWrapper {
  text-align: left;
}

.label {
  font-size: 10px !important;
  font-weight: bold !important;
  font-style: normal !important;
  font-stretch: normal !important;
  line-height: normal !important;
  letter-spacing: normal !important;
  color: rgb(142,142,143) !important;
  text-transform: uppercase !important;

  &[required]:after {
    color: #d0021b;
    content: " *";
  }
}

.input {
  width: calc(100% - 30px);
  max-width: 100%;
  border: 1px solid rgb(206, 208, 218);
  border-radius: 4px;
  color: #a6abb2;
  margin-top: 5px;
  padding: 0 15px;
  font-size: 14px;
  background-color: #ffffff;
  line-height: 2;

  &:focus {
    outline: none;
  }
}
