.sect-page {
    display: grid;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    overflow-x: hidden !important;
    &__descr {
        @media screen and (min-width: 810px) {
        margin-top: 0px;
        flex-direction: row;
    }
        font-family: Montserrat, sans-serif;
        font-size: 12px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.17;
        letter-spacing: normal;
        margin-bottom: 104px;
        display: flex;
        align-self: center;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        justify-self: center;
        max-height: 698px;
        flex-direction: column-reverse;
        margin-top: 64px;
        background-repeat: no-repeat;
        padding: 0px 20px;

    }
    &__descr-info {
        -webkit-box-align: center;
        align-items: center;
        @media screen and (min-width: 810px) {
            max-width: 32%;
        }
        &_title {
            @media screen and (min-width: 810px) {
                font-size: 50px;
            }
            font-size: 22px;
            margin-top: 15px;
            margin-bottom: calc(20px + (12 * ((100vw - 768px) / 672)));
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: rgb(30, 29, 32);
        }
        &_text {
            @media screen and (min-width: 810px) {
            font-size: calc(12px + (4 * ((100vw - 768px) / 672)));
        }
            font-size: 16px;
            margin-top: 8px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: rgb(30, 29, 32);
            opacity: 1;
            margin-bottom: 30px;
        }

    }
    &__descr-image {
        @media screen and (min-width: 810px) {
            max-width: 512px;
            max-height: 460px;
        }
        max-width: 224px;
        max-height: 201px;
    }
    &__descr-image-box {
        max-width: 1440px;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
    }


}