.main-container {
    @media screen and (max-width: 768px) {
        margin: 0 20px;
    }
    @media screen and (min-width: 769px) {
        margin: 0 80px;
    }
}

.sections-page-title {
    font-weight: 600;
    margin-top: 40px;
    font-size: 50px;
}

.sections-page {
    display: flex;
    flex-direction: column;
    &__title {
        font-size: 38px;
        margin-top: 48px;
        font-weight: 600;
        padding-bottom: 16px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    &__block {
        margin-top: 56px;
        display: grid;
        grid-gap: 20px;
        grid-column: 1 / 5;
        grid-row-start: 2;
        grid-template-columns: repeat(4, 1fr);
        @media screen and (max-width: 992px) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media screen and (max-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media screen and (max-width: 560px) {
            grid-template-columns: 1fr;
        }
    }
    &__block-title {
        grid-row: 1 / 2;
        grid-column: 1 / 5;
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 16px;
        @media screen and (max-width: 992px) {
            grid-column: 1 / 4;
        }
        @media screen and (max-width: 768px) {
            grid-column: 1 / 3;
        }
        @media screen and (max-width: 560px) {
            grid-column: 1 / 2;
        }
    }
    &__block-payload-column {
        display: flex;
        flex-direction: column;
    }
    &__block-payload-item {
        font-size: 16px;
        font-weight: normal;
        color: rgb(30, 29, 32);
        -webkit-box-align: center;
        align-items: center;
        user-select: none;
        margin-bottom: 10px;
    }
    &__new-item-block {
        display: flex;
        flex-direction: row;
        grid-column: 1 / 5;
        @media screen and (max-width: 992px) {
            grid-column: 1 / 4;
        }
        @media screen and (max-width: 768px) {
            grid-column: 1 / 3;
        }
        @media screen and (max-width: 560px) {
            grid-column: 1 / 2;
        }
        &_by-type {
            margin: 16px 0;
        }
    }
    &__new-item-input {
        height: 16px;
        max-width: 50%;
        font-weight: 500;
        line-height: 1.4;
        font-family: Montserrat, sans-serif;
        text-decoration: none;
        margin-right: 16px;
    }
    &__new-item-img {
        width: 16px;
        height: 16px;
        cursor: pointer;
        margin: auto 0;
        &_unallowed {
            opacity: 0.4;
            cursor: unset;
        }
    }
}