@import "../colors";

.textButton {
  background: none;
  border: none;

  cursor: pointer;

  color: $main-color;

  &:hover {
    color: darken($main-color, 20%)
  }
}

.secondary {
  color: $secondary-color;
  &:hover {
    color: darken($secondary-color, 20%)
  }
}


