@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap&subset=cyrillic');
@import "../colors";

.main {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: $dark-color;
  line-height: 1.4;
  margin: 0;
}

.h1 {
  font-size: xx-large;
  font-weight: 700;
}

.h3 {
  font-size: 24px;
  font-weight: 500;
}

.p {
  font-size: medium;
}

.q {
  font-size: x-large;
  font-weight: bold;
}

.description {
  color: $secondary-color;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
}
