.image {
  max-width: 100%;
  display: block;
  margin: 20px 0 20px 0;
}

.wrapper {
  width: 100%;
  margin-bottom: 40px;
}

.header {
  margin: 15px 0 15px 0;
}

.metaInfo {
  margin: 15px 0 20px 0;
}

.quote {
  margin: 30px 0 30px 0;
}

.tags {
  margin-top: 14px;
  & > *:not(:last-child) {
    margin-right: 10px;
  }
}
