.sections-footer {
  @media screen and (min-width: 810px) {
    height: 116px;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }
  height: 136px;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.17;
  letter-spacing: normal;
  color: rgb(194, 194, 194);
  display: flex;
  flex-direction: column;
  align-self: center;
  align-content: space-around;
  -webkit-box-pack: center;
  justify-content: center;
  background-color: rgb(244, 244, 244);
  -webkit-box-align: center;
  align-items: center;
  padding: 0 20px;
  left: 0;
  bottom: 0;
}

.sections-footer-el {
  &__logo {
    @media screen and (min-width: 810px) {
      display: grid;
      grid-template-columns: 20px 25px;
      margin-bottom: 0;
      grid-column-gap: 9px;
    }
    align-self: center;
    margin-bottom: 18px;
    text-decoration: none;

  }

  &__contacts {
    @media screen and (min-width: 810px) {
      grid-template-columns: 24px auto 242px;
    }
    display: grid;
    grid-template-columns: 27px auto;
    grid-column-gap: 8px;

    &_phone {
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      font-size: 16px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: right;
      color: rgb(194, 194, 194);
      text-decoration: none;
    }

    &_social {
      @media screen and (min-width: 810px) {
        display: flex;
      }
      width: 100%;
      display: none;
      -webkit-box-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      align-items: center;

      a {
        margin-left: 6%;
      }
    }
  }

}