<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link
    href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700,900&amp;subset=cyrillic,cyrillic-ext"
    rel="stylesheet"
  />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Занятие по загрузчику</title>
    <script type="systemjs-importmap" src="{{resourcesUrl}}/importmap.json"></script>
    <script src="{{resourcesUrl}}/extlib/systemjs/system.js"></script>
    <script src="{{resourcesUrl}}/extlib/systemjs/extras/amd.js"></script>
    <script src="{{resourcesUrl}}/extlib/systemjs/extras/named-register.js"></script>
    <script src="{{resourcesUrl}}/extlib/systemjs/extras/named-exports.js"></script>
    <script src="{{resourcesUrl}}/extlib/systemjs/extras/transform.js"></script>
</head>
<body>
    {{!-- <script src="{{resourcesUrl}}/bootstrap.js" type="text/javascript"></script> --}}
    <script type="text/javascript">
        System.import('{{resourcesUrl}}/bootstrap.js');
    </script>
    <script type="text/javascript">
        window.config = {{{toJSON config}}};
        window.navigation = {{{toJSON navigation}}};
        window.launcher = {{{toJSON launcher}}};
    </script>
    </script>
    <div id="root"></div>

   
</body>
</html>