.image {
  height: 28px;
  margin: 2px;
  width: 25px;
  display: inline-block;
}

.shareCount {
  display: inline-block;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  margin: 0 30px 0 0;
}

.wrapper {
  border-radius: 2px;
  width: 120px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
