@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap&subset=cyrillic');

$gray-color: #c4c4c4;
$red-color: #DC143C;

.comment-block {
  border-bottom: 1px solid $gray-color;
  padding: 1.5rem 2rem;

  .comment-block_title {
    display: flex;
    justify-content: space-between;
  }

  .comment-block_meta {
    display: flex;
    flex-direction: column;

    .comment-block_meta-name {
      font-weight: 600;
    }
    
    .comment-block_meta-date {
      font-size: 0.65rem;
      color: $gray-color;
      text-transform: uppercase;
      font-weight: 600;
      margin-top: 0.2rem;
    }
  }

  .comment-block_heart {
    display: flex;
    align-items: center;
    
    .comment-block_heart-box {
      transform: scale(0.6);
      
    }

    .comment-block_heart-svg {
      $size: 20px;
      background-color: $gray-color;
      display: inline-block;
      height: $size;
      margin: 0 10px;
      position: relative;
      top: 0;
      transform: rotate(-45deg);
      width: $size;
      
      &::before,
      &::after {
        content: "";
        background-color: $gray-color;
        border-radius: 50%;
        height: $size;
        position: absolute;
        width: $size;
      }

      &::before {
        top: -10px;
        left: 0;
      }

      &::after {
        left: 10px;
        top: 0;
      }
    }

    .comment-block_heart-svg-active {
      $size: 20px;
      background-color: $red-color;
      display: inline-block;
      height: $size;
      margin: 0 10px;
      position: relative;
      top: 0;
      transform: rotate(-45deg);
      width: $size;
      
      &::before,
      &::after {
        content: "";
        background-color: $red-color;
        border-radius: 50%;
        height: $size;
        position: absolute;
        width: $size;
      }

      &::before {
        top: -10px;
        left: 0;
      }

      &::after {
        left: 10px;
        top: 0;
      }
    }
  
    .comment-block_heart-number {
      color: $gray-color;
      font-weight: 600;
      font-size: 0.85rem;
      margin-bottom: 5px;
    }
  }

  .comment-block_text {}
}

.comment-form {
  padding: 1.5rem 2rem;

  .comment-form_button {
    margin-top: 2rem;
    background-color: $gray-color;
  }
}
