.org-body {
    padding: 0 20px;
}

.section {
    display: block;
}

.description-block {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-top: 40px;

}

.description-block-logo {
    display: flex;
    max-width: 1440px;
    -webkit-box-pack: center;
    justify-content: center;

}

img.description-block-logo {
    max-height: 460px;
    max-width: 512px;
}

h1.description-block-title {
    font-size: 48px;
    margin-top: 40px;
    margin-bottom: 0;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: normal;
    color: rgb(30, 29, 32);
}

.description-block-abstract-description {
    max-width: 560px;
    display: flex;
    flex-direction: column;
}

.description-block-description {

    margin-top: 16px;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: rgb(30, 29, 32);
}

.description-block-location {
    margin-top: 24px;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.13;
    letter-spacing: normal;
    color: rgb(30, 29, 32);
}

button.enroll {

    background-color: rgb(0, 62, 255);
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 28px;
    padding: 13px 34px;
    outline: none;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    margin: 40px auto 0px 0px;
}


.start-block {
    display: flex;
    margin-top: 105px;
    align-self: center;
    justify-self: center;
    -webkit-box-pack: center;
    justify-content: center;


}

h2.block-title {

    font-size: 50px;
    text-align: center;
    width: 100%;
    font-weight: 600;
    margin-bottom: 0;
}

.sections-block-schedule {
    display: flex;

}

a.sections-block-schedule {
    font-weight: 600;
    color: rgb(0, 62, 255);
    text-decoration: none;
    padding-top: 18px;
    font-size: 22px;
}

span.sections-block-schedule {
    padding-top: 5px;
    margin-right: 13px;
}

.sections-age {
    margin-top: -5px;
}

.sections-age-1 {
    display: flex;
    margin-top: 40px;
    -webkit-box-align: center;
    align-items: center;
    height: 58px;
    padding-left: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.sections-svg {
    width: 20px;
    height: 12px;
    margin-right: 14px;
    transform: rotate(270deg);
}

.sections-age-title {
    font-size: 22px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.18;
    letter-spacing: normal;
    color: rgb(30, 29, 32);
    display: inline;

}

.section-color .sections-age-1:hover {
    cursor: pointer;
    background-color: rgb(230, 235, 253);
}


.admin-block {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    justify-content: center;
}

.about-block {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.about-block-title {
    margin-top: 105px;
    margin-bottom: 40px;
    text-align: center;
    width: 100%;
    font-size: 22px;
    font-weight: 600
}

.about-block-content {
    margin-bottom: 64px;
    min-width: 45%;
    height: calc(220px + (178 * ((100vw - 768px) / 672)));
    opacity: 1;
    box-shadow: rgba(24, 40, 151, 0.4) 0px 16px 64px 0px;
    background-color: rgb(0, 62, 255);
    background-image: url(https://img.youtube.com/vi/OMjCMjhR24U/0.jpg);
    background-size: cover;
    max-width: 558px;
    max-height: 398px;
    display: grid;
    font-size: calc(80px + (40 * ((100vw - 768px) / 672)));
    border-radius: 16px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.about-block-desc {
    padding: 0px 150px;
}

.staff-block {
    display: flex;
    flex-direction: column;
}

.staff-block-staff {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    justify-content: center;
}

.staff-block-footer {
    margin-top: 85px;
    background-color: rgb(0, 62, 255);
    color: white;
    padding-top: 48px;
    padding-bottom: 40px;
    text-align: center;
    margin-bottom: 105px;
    border-radius: 16px;
}

.staff-block-footer-title {
    font-size: 50px;
    font-weight: bold;
}

button.staff-block-footer {
    margin-top: 25px;
    background-color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: rgb(30, 29, 32);
    cursor: pointer;
    border-radius: 28px;
    padding: 13px 34px;
    outline: none;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}

.sections-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.single-opened-section {
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgb(0, 62, 255);
    display: block;
    padding: 16px;
    text-align: right;
    overflow: auto;
    width: calc((50% - 32px) - 28px);
}

.single-opened-section:hover {
    background-color: rgb(230, 236, 255);
    cursor: pointer;
}

.single-opened-section span {
    float: left;
}

.single-opened-section button {
    float: right;
    display: none;
    background-color: rgb(0, 62, 255);
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: rgb(255, 255, 255);
    cursor: pointer;
    margin-left: auto;
    border-radius: 28px;
    padding: 10px 22px;
    outline: none;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    margin-top: -8px;
    margin-bottom: -8px;
}

.single-opened-section:hover button {
    display: block;
}

.section-opened .sections-svg {
    transform: rotate(360deg);
}

@media (max-width: 767px) {
    h1.description-block-title, h2.block-title {
        font-size: 42px;
    }
}

@media (max-width: 575px) {
    h1.description-block-title, h2.block-title {
        font-size: 36px;
    }
}

.reward-block {
    margin-top: 104px;
}


.reward-block-section {
    position: relative;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: normal;
    color: rgb(255, 255, 255);
    align-self: center;
    justify-self: center;
    max-width: 1400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.reward-block-section-div {
    position: relative;
    width: 100%;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    overflow: hidden;
}

.reward-block-section-svg {
    width: 5%;
    opacity: 0.2;
}

.reward-block-section-svg-transform {
    transform: rotate(180deg);
}

.reward-block-section-places {
    height: calc(380px + (0 * ((100vw - 768px) / 672)));
    width: 100%;
    position: relative;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}


.reward-block-section-place-number {
    margin-top: 20px;
    font-size: 68px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: rgb(30, 29, 32);
}

.reward-block-section-place-place {
    font-size: 22px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.18;
    letter-spacing: normal;
    text-align: center;
    color: rgb(30, 29, 32);
}

.reward-block-section-place-date {
    margin-top: 44px;
    font-size: 22px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.18;
    letter-spacing: normal;
    text-align: center;
    color: rgb(30, 29, 32);
}

.reward-block-section-place-text {
    margin-top: 8px;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: rgb(30, 29, 32);
}

.reward-block-section-place-svg {
    position: absolute;
}


.reward-block-section-place-1 {
    background-size: contain;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    color: rgb(0, 0, 0);
    order: 2;
    left: 75%;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center center;
    transition: left 1s ease-in-out 0s;
}

.reward-block-section-place-2 {
    background-size: contain;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    color: rgb(0, 0, 0);
    order: 2;
    left: 75%;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center center;
    transition: left 1s ease-in-out 0s;
}


@media (min-width: 810px) {

    .reward-block-section-place-1 {
        width: 30%;
        left: 0%;
    }

    .reward-block-section-place-2 {
        width: 30%;
        left: 35%;
    }
}
