@import '../../../components/UI/colors';

.wrapper {
  margin: 20px 0;
}

.tag {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 1px;
  color: $secondary-color-1;
  padding: 12px 0;
}

.button {
  display: inline-block;
}

.buttons {
  & > *:not(:first-child) {
    padding: 0 5px;
  }
}
